{% extends 'main.html' %} {% load crispy_forms_tags %} {% block content %}

<div
  class="container form-container register-inside"
  style="padding: 1.5rem; margin-top: 3%;margin-bottom: 5%;"
>
  <h1 style="text-align: center">Register - <i style="color: blue;">ChatsApp</i></h1>
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %} {{form | crispy}}
    <div class="image-container row">
      <div class="col-12 col-md-6">
        <div class="row">
          <div class="col-12 col-xl-6">
          <label for="file_photo">
            <pre
              style="
                font-size: 1.2rem;
                font-style: italic;
                margin-bottom: 0;
                margin-top: 10px;
              "
            >
Choose Profile Picture:   </pre
            >
          </label></div>
          <div class="col-12 col-xl-6">
          <input
            class="form-control"
            
            type="file"
            id="file_photo"
            onchange="preview_image(event)"
            name="profile_picture"
            required
          />
        </div>
        </div>
      </div>
      <div
        id="camera_icon"
        class="camera_icon col-md-6 col-12"
        style="background-color: purple"
      ></div>
    </div>
    <p style="margin-bottom: 1rem;margin-top: 2rem;font-weight: 600;font-size: large;color: blue;">
      Created an account before?<a href="{% url 'users:login' %}"> Sign In</a>
    </p>
    <input type="submit" value="Register" class="btn btn-success" />
  </form>
</div>

<script>
  camera_icon = document.getElementById("camera_icon");
  document.onload((camera_icon.style.display = "none"));

  function preview_image(event) {
    var reader = new FileReader();
    reader.onload = function () {
      var output = document.getElementById("camera_icon");
      output.style.display = "block";
      output.style.backgroundImage = "url('" + reader.result + "')";
    };
    reader.readAsDataURL(event.target.files[0]);
  }
</script>

{% endblock %}
