{% extends 'main.html' %} {% block content %}

<div class="profile-container">
  <div class="container pc-2">
    <div>
      <img
        class="user-profile-pic"
        id="user-profile-pic"
        src="{{pic}}"
        alt="{{pic}}"
      />
    </div>
    <div class="info">
      <p style="margin-bottom: 0">{{request.user.username}}</p>
      <p>@{{request.user.email}}</p>
    </div>
    <a
      href="{% url 'users:edit_profile' %}"
      class="btn edit-profile light-blue-hover"
      >EDIT PROFILE</a
    >
    <div class="user-info">
      <p style="color: white">Number of chats: {{chat_number}}</p>
      <p style="color: white">
        Total messages: {{request.user.message_set.all.count}}
      </p>
    </div>
  </div>
</div>
{% endblock %}
