.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input,
.form-label-group label {
  height: 3.125rem;
  padding: 0.75rem;
}

.form-label-group label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  cursor: text; /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:-moz-placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: 0.25rem;
}

.form-label-group input:not(:-ms-input-placeholder) {
  padding-top: 1.25rem;
  padding-bottom: 0.25rem;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: 0.25rem;
}

.form-label-group input:not(:-moz-placeholder-shown) ~ label {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 12px;
  color: #777;
}

.form-label-group input:not(:-ms-input-placeholder) ~ label {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 12px;
  color: #777;
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 12px;
  color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-label-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .form-label-group label {
    position: static;
  }

  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}



body {
  background-image: url("../static/images/login.jfif");
  background-repeat: no-repeat;
  background-size: cover;
}

.profile {
  width: 60%;
  margin-top: 5%;
  margin-left: 10%;
  background-color: rgb(187, 20, 20);
  padding: 0.5%;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
}

.chat-container {
  background-color: white;
  width: 80%;
  height: fit-content;
  margin-top: 0%;
  border: 5px solid aqua;
  border-radius: 10px;
  margin-left: 10%;
}

.user-profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid aqua;
  margin-left: 2%;
  object-fit: cover;
}

.other-user-profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid aqua;
  margin-left: 4%;
}

.other-profile {
  width: 100%;
  background-color: rgb(187, 20, 20);
  padding: 0.5%;
  display: flex;
  flex-direction: row;
  margin-bottom: 1%;
}

.mine {
  width: fit-content;
  max-width: 50%;
  background-color: rgb(51, 255, 0);
  margin-right: 2rem;
  border: 1px solid red;
  border-radius: 5px;
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 0;
  height: fit-content;
  font-size: larger;
  min-height: 20px;
}

.other {
  width: fit-content;
  max-width: 50%;
  background-color: aqua;
  margin-left: 1rem;
  border: 1px solid red;
  border-radius: 5px;
  padding: 1%;
  padding-bottom: 0;
  height: fit-content;

  font-size: larger;
}

.refresh {
  width: 5%;
  height: fit-content;
  margin-top: 5%;
  margin-left: 1%;
  border: 1px solid aqua;
  font-size: 1.6rem;
  padding: 0;
}

.messages-background {
  background-image: url("/../static/images/flowers.jpg");
  width: 60%;
  border: 2px solid aqua;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90.5vh;
  margin-left: 20%;
  margin-bottom: 10%;
  margin-top: 2%;
  position: fixed;
  padding-bottom: 0%;
  padding-top: -10%;
}

.messages-container {
  overflow-y: scroll;
  height: 75%;
  display: flex;
  flex-direction: column;
}

.message-input {
  width: 35%;
  margin-left: 65%;
  margin-bottom: 20%;
  margin-top: 3%;
  border-radius: 1%;
}

.message-input input {
  border-radius: 5px;
  height: 2rem;
}

.send {
  width: 12%;
  height: 100%;
  background-color: white;
  border-radius: 5px;
  padding: 1%;
  border: 1px solid blue;
  margin-bottom: -3.5%;
}

.time-format {
  width: 5%;
  height: 8%;
  border: 1px solid aqua;
  padding: 0;
  margin-top: 5%;
  margin-left: 40%;
}

.back {
  font-size: xx-large;
  height: 30%;
  width: 50%;
  background-color: rgb(255, 255, 255);
  margin-top: 50%;
  margin-left: 10%;
  padding-left: 1%;
  padding-right: 1%;
  color: black;
  border-radius: 20%;
}

.chats-label {
  color: white;
  margin-bottom: 0;
  margin-left: 10%;
  margin-top: 2%;
  background-color: blue;
  font-size: xx-large;
  border: 2px solid aqua;
}

.more {
  font-size: 2rem;
  margin-left: 45%;
  height: 20%;
  margin-top: 5%;
  border: 2px solid aqua;
  border-radius: 10%;
}

.btn-more {
  color: white;
  border-radius: 3px;
}

.messages {
  color: red;
  margin-left: 25%;
  border: 2px solid aqua;
  width: fit-content;
  height: fit-content;
  padding-right: 1%;
  margin-top: 1%;
  border-radius: 5px;
  background-color: aqua;
}

.rawtimes {
  font-size: small;
  color: blueviolet;
}

.timesinces {
  font-size: small;
  color: blueviolet;
  display: none;
}

.delete {
  width: 100%;
  height: 100%;
}

.del {
  width: 2rem;
  height: 2rem;
  padding: 0;
}

.rhs {
  display: flex;
  flex-direction: row;
  width: 30%;
}

.del-container {
  border: 3px solid aqua;
  margin-top: 20%;
  margin-left: 20%;
  width: fit-content;
  padding: 1rem;
  background-color: aqua;
  color: red;
  font-size: large;
}

.edit-profile {
  border-radius: 20px;
  height: fit-content;
  border: 5px double aqua;
  color: white;
  margin-top: 0%;
  font-size: larger;
  background-color: blue;
}

#user-profile-pic {
  width: 15rem;
  height: 15rem;
  border-width: 5px;
}

.user-info {
  width: 100%;
  border: 5px double aqua;
  margin-top: 5%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  border-radius: 15px;
}

.info {
  font-size: larger;
  display: flex;
  align-items: center;
  width: fit-content;
  flex-direction: column;
  color: white;
  margin-top: 1%;
}

.profile-container {
  background-color: hsla(240, 100%, 10%, 0.7);
  width: 100vw;
  height: 100vh;
}

.light-blue-hover:hover {
  color: lightblue;
}

.no-hover:hover {
  text-decoration: none;
}

.camera_icon {
  background-size: cover;
  background-position: center;
  width: 15rem;
  height: 10rem;
  border: 2px solid aqua;
  border-radius: 5px;
}

.image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.edit-profile-container {
  width: 50%;
  margin-top: -10%;
  border: 5px solid aqua;
  padding: 3%;
  border-radius: 20px;
  background-color: hsla(240, 100%, 10%, 0.7);
}
adjust {
  margin-top: -10% !important;
}

.container {
  margin-top: -10%;
}

.pc-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-top: 0;
}
