body {
  background-image: url("../images/login.jfif");
  background-size: cover;
}

.profile {
  width: 60%;
  margin-top: 5%;
  margin-left: 10%;
  background-color: rgb(187, 20, 20);
  padding: 0.5%;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
}

.user-profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid aqua;
  margin-left: 2%;
  object-fit: cover;
}

.other-profile-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: 2px solid aqua;
}

.other-profile {
  background-color: rgb(187, 20, 20);
  padding: 0.5%;
  margin-bottom: 1%;
}

.mine {
  background-color: rgb(51, 255, 0);
  margin-bottom: 10px;
  border: 1px solid red;
  border-radius: 5px;
  padding: 1%;
  padding-bottom: 0;
  font-size: larger;
}

.other {
  background-color: aqua;
}

.messages-background {
  background-image: url("/../static/images/flowers.jpg");
  width: 60%;
  border: 2px solid aqua;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90.5vh;
  margin-left: 20%;
  margin-bottom: 10%;
  margin-top: 2%;
  position: fixed;
  padding-bottom: 0%;
  padding-top: -10%;
}

.messages-container {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 80%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.message-input {
  margin-top: 3%;
  border-radius: 1%;
}

.message-input input {
  border-radius: 5px;
  height: 2rem;
}

.send {
  width: 50px;
  height: 100%;
  background-color: white;
  border-radius: 5px;
  border: 1px solid blue;
}

.back {
  font-size: xx-large;
  height: 30%;
  width: 50%;
  background-color: rgb(255, 255, 255);
  margin-top: 50%;
  margin-left: 10%;
  padding-left: 1%;
  padding-right: 1%;
  color: black;
  border-radius: 20%;
}

.chats-label {
  color: white;
  margin-bottom: 0;
  margin-top: 2%;

  background-color: blue;
  font-size: xx-large;
  border: 2px solid aqua;
}

.more {
  font-size: 2rem;
  margin-left: 45%;
  height: 20%;
  margin-top: 5%;
  border: 2px solid aqua;
  border-radius: 10%;
}

.btn-more {
  color: white;
  border-radius: 3px;
}

.messages {
  color: red;
  margin-left: 25%;
  border: 2px solid aqua;
  width: fit-content;
  height: fit-content;
  padding-right: 3%;
  margin-top: 1%;
  border-radius: 5px;
  background-color: aqua;
}

.rawtimes {
  font-size: small;
  color: blueviolet;
}

.timesinces {
  font-size: small;
  color: blueviolet;
  display: none;
}

.delete {
  width: 100%;
  height: 100%;
}

.del {
  width: 2rem;
  height: 2rem;
  padding: 0;
}

.rhs {
  display: flex;
  flex-direction: row;
  width: 30%;
}

.del-container {
  border: 3px solid aqua;
  margin-top: 20%;
  margin-left: 20%;
  width: fit-content;
  padding: 1rem;
  background-color: aqua;
  color: red;
  font-size: large;
}

.edit-profile {
  border-radius: 20px;
  height: fit-content;
  border: 5px double aqua;
  color: white;
  margin-top: 0%;
  font-size: larger;
  background-color: blue;
}

#user-profile-pic {
  width: 15rem;
  height: 15rem;
  border-width: 5px;
}

.user-info {
  width: 100%;
  border: 5px double aqua;
  margin-top: 5%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  border-radius: 15px;
}

.info {
  font-size: larger;
  display: flex;
  align-items: center;
  width: fit-content;
  flex-direction: column;
  color: white;
  margin-top: 1%;
}

.profile-container {
  background-color: hsla(240, 100%, 10%, 0.7);
  width: 100vw;
  height: 100vh;
}

.light-blue-hover:hover {
  color: lightblue;
}

.no-hover:hover {
  text-decoration: none;
}

.camera_icon {
  background-size: cover;
  background-position: center;
  height: 20rem;
  border: 2px solid aqua;
  border-radius: 5px;
}

.edit-profile-container {
  border: 5px solid aqua;
  padding: 3%;
  border-radius: 20px;
  background-color: hsla(240, 100%, 10%, 0.7);
}
adjust {
  margin-top: -10% !important;
}

.pc-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-top: 0;
}

.chat-row {
  height: fit-content;
  border: 2px solid aqua;
  border-radius: 5px;
}

.chat-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: rgb(0, 255, 55);
  margin-left: 10%;
}

.img-body {
  height: 100vh;
  width: 100%;
  background-image: url("../images/register.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.form-container {
  background-color: white;
  border: 2px solid aqua;
  border-radius: 10px;
  margin-top: 5%;
  padding: 1rem;
}

.login-inside {
  background-image: url("../images/login-inside.jpg");
  background-size: cover;
  padding: 5%;
}

.register-inside {
  background-image: url("../images/register-inside.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

pre {
  font-size: 1.2rem;
  font-style: italic;
  margin-bottom: 0;
  margin-top: 10px;
}

.🐇 {
  color: white;
}
