
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/main/static/css/bootstrap.css">
    <link rel="stylesheet" href="/main/static/css/style.css">

    <style>
        body{
            background-image: url('../static/images/register.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        .chat-container{
            background-color: white;
            width: 60%;
            height: 100vh;
            margin-top: 10vh;
            border: 5px solid aqua;
            border-radius: 10px;
        }
       
    </style>
</head>
<body >
    <div class="container chat-container">
beans
    </div>


</body>

<script src="{% static 'js/jquery-3.6.1.js' %}"></script>
<script src="{% static 'js/js.js' %}"></script>


</html>